@media screen and (max-width: 430px) {
  .hero {
    height: 217px;
  }

  .hero .nav-toggle {
    display: block;
    margin-right: px;
    z-index: 5;
  }

  .hero .nav-section {
    top: 10px;
    border-radius: 0px;
  }
  .hero .Bars {
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }

  .hero .menus {
    display: none;
    flex-direction: column;
  }

  .hero .LogoImg {
    padding-top: 5px;
    width: 46px;
    height: 35px;
  }

  .hero header {
    margin-top: 20px;
  }
  .hero .header-text h1 {
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
  }

  .hero .horizontal-line img {
    display: none;
  }

  .hero .header-text h2 {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
  }

  .hero .search-section {
    justify-content: center;
    margin-top: 1.5%;
  }
  .hero .search-input input {
    width: 200px;
    height: 14px;
    border: none;
    padding-left: 15px;
    font-size: 8px;
    border-radius: 2px;
    backdrop-filter: blur(1px);
  }

  .hero .search-btn {
    width: 40px;
    height: 14px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 2px;
  }
  .container {
    max-width: 427px;
  }

  main {
    top: 0;
  }

  .left .sidebar {
    margin-top: 9rem;
  }

  .feature-button {
    margin-top: 10px;
  }

  .official-Tracking {
    width: 120px;
    height: 30px;
    font-size: 0.7rem;
  }

  .Hospitality-package {
    width: 120px;
    height: 30px;
    font-size: 0.7rem;
  }

  .title-section {
    margin-top: 0px;
  }

  .title-section img {
    width: 100%;
  }
  .sport-section {
    grid-template-columns: 1fr;
    padding: 10px 20px 0;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    align-items: center;
  }

  .upbg img {
    height: 235px;
    width: 103%;
    margin-left: 0px;
    /* margin-top: 21px; */
    margin-top: 21px;
  }

  #span1,
  #span3 {
    color: white;
    font-size: 35px;
    font-weight: 800px;
    line-height: 0px;
    /* word-wrap: break-word; */
    text-shadow: 1px 1px 2px black;
  }

  .offical-tracking-section #span2,
  #span4 {
    color: white;
    font-size: 35px;
    line-height: 0px;
    font-weight: 800px;
    word-wrap: break-word;
    text-shadow: 1px 1px 2px black;
    margin-left: -5px;
  }

  .offical-btn {
    margin-top: 226px;
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
    left: 147px;
  }
  .down-text {
    font-size: 14px;
    height: 80px;
    width: 369px;
  }
  .offical-tracking-section {
    margin-top: 30px;
  }
  .offical-tracking-section-text {
    width: 407px;
    height: fit-content;
    text-align: center;
    color: white;
    font-size: 39px;
    font-weight: 600px;
    margin-top: 80px;
    text-shadow: 1px 1px 2px black;
  }

  .hospitality-pakage-heading {
    text-align: center;
    letter-spacing: 4.3px;
    text-shadow: 1px 1px 2px black;
    font-weight: 1000px;
    word-wrap: break-word;
    font-size: 29px;
    line-height: 42px;
    max-width: 425px;
    margin-top: 80px;
    margin-left: 8px;
  }

  .hospitality-pakage-description {
    width: 389px;
    height: 111px;
    font-size: 14px;
    margin-left: 25px;
    line-height: 27px;

    font-weight: 500;
    margin-top: 233px;
    text-align: justify;
  }
  .hospitality-btn {
    margin-left: 120px;
    margin-bottom: 439px;
    width: 205px;
    height: 40px;
    font-size: 13px;
    top: 333px;
  }

  .hospitality-pakage {
    width: 426px;
    height: 346px;
    margin-top: 45px;
  }

  .ground-shadow {
    visibility: hidden;
  }

  .for-example {
    position: relative;
  }

  .for-example {
    margin-top: 50px;
  }

  .ground-img {
    gap: 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 394px) {
  .hero {
    height: 191px;
  }

  .hero .header-text h1 {
    font-size: 1.6rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
  }
  main {
    top: 0;
  }
  .left .sidebar {
    margin-top: 8rem;
  }

  .container {
    max-width: 365px;
  }
  .hero .header-section {
    margin-left: 15px;
  }

  .sport-section {
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 310px;
  }

  .official-Tracking {
    width: 113px;
    height: 26px;
    font-size: 0.69rem;
  }
  .Hospitality-package {
    width: 113px;
    height: 26px;
    font-size: 0.69rem;
  }

  #span1,
  #span3 {
    font-size: 24px;
    font-weight: 600px;
  }

  .upbg img {
    height: 205px;
    width: 103%;
  }

  .down-text {
    text-align: justify;
    font-size: 11px;
    height: 73px;
    width: 300px;
  }
  .offical-btn {
    margin-top: 206px;
    width: 120px;
    height: 35px;
    font-size: 12px;
    left: 135px;
  }
  .offical-tracking-section-text {
    width: 370px;
  }

  .offical-tracking-section #span2,
  #span4 {
    font-size: 24px;
    font-weight: 600px;
  }
  .hospitality-pakage-heading {
    max-width: 366px;
    letter-spacing: 3.3px;
    font-size: 24px;
    line-height: 33px;
  }
  .hospitality-pakage-description {
    width: 327px;
    height: 94px;
    font-size: 12px;
    margin-left: 25px;
    font-weight: 500;
    margin-top: 193px;
    color: bisque;
  }

  .hospitality-btn {
    margin-left: 110px;
    width: 151px;
    text-transform: capitalize;
    word-spacing: 0.1px;
    letter-spacing: 0.6px;
    height: 34px;
    font-size: 12px;
    top: 292px;
  }

  .hospitality-pakage {
    width: 375px;
    height: 299px;
    margin-top: 41px;
  }
}

@media screen and (max-width: 332px) {
  .hero {
    height: 162px;
  }

  .hero .header-text h1 {
    font-size: 1.3rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
  }
  main {
    top: 0;
  }
  .hero .header-section {
    margin-top: -4px;
  }
  .container {
    max-width: 321px;
  }

  .left .sidebar {
    margin-top: 6rem;
  }

  .sport-section {
    gap: 2px;
    padding-top: 0px;
    margin-top: 2px;
  }

  #span1,
  #span3 {
    font-size: 20px;
  }

  .offical-tracking-section #span2,
  #span4 {
    font-size: 24px;
  }
  .offical-tracking-section-text {
    width: 304px;
}

.offical-btn{
  left: 109px;
}

.down-text {
  text-align: justify;
  font-size: 10px;
  height: 69px;
  width: 265px;
}
  .official-Tracking {
    width: 101px;
    height: 22px;
    font-size: 0.54rem;
    letter-spacing: 0.8px;
  }
  .feature-button {
    margin-top: 6px;
  }

  .Hospitality-package {
    width: 101px;
    height: 22px;
    font-size: 0.54rem;
    letter-spacing: 0.8px;
  }

.hospitality-pakage-heading {
    max-width: 297px;
    letter-spacing: 2.3px;
    font-size: 20px;
    line-height: 28px;
}
.hospitality-pakage-description {
  width: 279px;
  height: 99px;
  font-size: 12px;
  margin-left: 25px;
  font-weight: 500;
  margin-top: 193px;
  line-height: 17px;
  color: white;
}
.hospitality-btn{
  top: 277px;
    margin-left: 86px;
    height: 30px;
}

}
