body {
  font-family: 'Poppins', sans-serif;
}


p {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  /*max width basically used for the difine the max*/
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
  height: 738px;
  background-image: url(PlayersPic/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  /* justify-content: space-between; */
  padding: 40px;
  padding-left: 10%;
  padding-right: 10%;
  justify-items: flex-start;
  gap: 120px;
}

.links {
  gap: 30px;
  margin-inline-start: 300px;
}

.link a {
  font-size: 1.375rem;
  color: #ffffff;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.73);
  font-size: 100px;
  font-weight: 800;
  line-height: 110px;
  padding-left: 80px;
  padding-top: 25px;
}

.heading img {
  display: flex;
  align-self: center;
  margin-left: 120px;
}

.heading span {
  width: 902px;
  color: rgb(243, 240, 236);
  font-size: 100px;
  font-weight: 800;
  line-height: 110px;
  padding-left: 300px;
  padding-top: 80px;
}

.Search-section {
  width: 942px;
  height: 54px;
  position: relative;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 300px;
}

.search-input input {
  width: 736px;
  height: 54px;
  left: 0px;
  padding-left: 30px;
  font-size: 25px;
  color: #ffffff;
  /* justify-self: center; */
  background: rgba(255, 255, 255, 0.53);
  border-radius: 5px;
  backdrop-filter: blur(4px)
}

.search-text-div {
  width: 174px;
  height: 54px;
  left: 768px;
  top: 0px;
  position: absolute;
  background: rgba(244, 249, 0, 0.49);
  border-radius: 5px
}

.search-text {
  left: 818px;
  top: 14px;
  position: absolute;
  color: white;
  font-size: 22px;
  font-weight: 600;
  word-wrap: break-word
}




.athlets {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 167px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 10px;
  row-gap: 5px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
}

.card  img:hover {
  transform: scale(.9);
}

.imgpreview {
  display: none;
}

.imgpreview .preview {
  /* display: none; */
  padding: 5px;
  position: absolute;
  top: 150px;
  left: 25%;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  /* background: linear-gradient(135deg, #84fab0, #8fd3f4); */
  background-color: rgba(255, 255, 255, 0.979);
  position: relative;
  margin: 2rem;
  width: 40rem;
  padding: 20px;
}

.imgpreview .preview.active {
  display: inline-block;
}

.imgpreview .preview img {
  height: 15rem;
  border-radius: 10px;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}


.divBtn {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
}

#div1{
  background: url(PlayersPic/barChart.svg);
  width: 40px;
  background-repeat: no-repeat;
}

#div2{
  background: url(PlayersPic/lineChart.svg);
  width: 40px;
  background-repeat: no-repeat;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 426px) {

body{
  width: 477px;
}

.links{
  display: none;
}

.hero{
  height: 168px;
}

.nav-section a{
  z-index: 10000;
}

.logo img{
  width: 30px;
  
}

.headline-section{
  position: absolute;
  top: 20px;
}

.heading{
  padding-left: 0px;
}

.heading img{
  width: 100%;
}

.Search-section{
  display: none;
}

.athlets{
  margin-top: 63px;
  margin-left: 77px;
}

.imgpreview .preview{
  left: 0px;
  width: 22rem;
}
}